<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088883611641-0to1q5qsmotunlkgsab5gp76j3p5bt7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088883611641-0to1q5qsmotunlkgsab5gp76j3p5bt7i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088883611641-134jvsgk181j9tssbdq7t3npkc9cc2uc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFXs1j7skntWoxc0Eui-i8cVpRwAL-2YM</string>
	<key>GCM_SENDER_ID</key>
	<string>1088883611641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oohohgames.bubblehexagon</string>
	<key>PROJECT_ID</key>
	<string>bubble-hexagon-57070485</string>
	<key>STORAGE_BUCKET</key>
	<string>bubble-hexagon-57070485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088883611641:ios:b736bbfb51bff881130f28</string>
</dict>
</plist>